<div class="hero">
    <!-- Sticky footer method by ryanfait.com -->
    <div class="push"></div>
</div>

<main role="main">
    <h1 class="adelle ew-logo">Erickson Woodworking</h1>
    <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
        <% if Rails.application.config.ended %>
            <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
            <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
            <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
            <p class="again brandon">Thank You Again!</p>
        <% else %>
            <p class="byline">Sign up to celebrate with us.</p>
            <%= form_for @user, :url => { :action => "create" } do |f| %>
                <%= f.text_field :first_name, :placeholder => "first name", :class => "first" %>
                <%= f.text_field :last_name, :placeholder => "last name", :class => "last" %>
                <%= f.text_field :email, :placeholder => "your email", :class => "email brandon" %>
                <%= f.submit "Step Inside" , :class=> "submit brandon" %>
            <% end %>
        <% end %>
    </div>
    <section class="description-wrap">
        <p class="description desc-head">Erickson Woodworking just went multi-generational.</p>
        <p class="description">On September 15, to celebrate our new father-son partnership, Erickson Woodworking will be giving away a hand-made, bespoke chair.</p>
    </section>
</main>