<div class="hero">
    <h2>From Robert and Tor, thank you.</h2>
    <!-- Sticky footer method by ryanfait.com -->
    <div class="push"></div>
</div>

<main role="main">
    <h1 class="adelle ew-logo">Erickson Woodworking</h1>

    <% 
        referrals_count = @user.referrals.count + 1

        stops = User::REFERRAL_STEPS

        found = nil

        stops.reverse_each { |stop|
            if stop["count"] <= referrals_count and !found
                stop["selected"] = true
                found = stop
            else
                stop["selected"] = false
            end
        }   
     %>
    <div class="referral-count">
        <h3 class="count"><%= referrals_count %></h3>
        <p>Your total entries (you plus your referrals)</p>
        <hr />
        <p>Average number of entries per visitor</p>
        <h3 class="count"><%= get_referral_avg %></h3>
    </div>
    
    <p class="description">
        <span style="display:block; margin-bottom:1em;">Now spread the word.</span>
        <span style="display:block; margin-bottom:1em;">For each friend you refer, the greater your chance of winning the chair. Share your unique link via email or your favorite social media site, and be entered in the drawing again for every referral you generate.</span>
        <span class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></span>
        <% twitter_message = "Soon I could be sitting in The Atlantic Monthly’s \"nexus of art and ergonomics\" thanks to @ericksonww:" %>
        <span class="social-links" style="display:block;">
            <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
            <span class="sep"></span>
            <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            <span class="sep"></span>
            <span class="pinterest"><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-shape="round" data-pin-height="28">
                <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_round_red_28.png" />
            </a></span>
        </span>
    </p>
</main>