<div class="hero">
    <img class="bg-alt-cover" src="assets/refer/robert-and-tor-erickson.jpg" alt="Robert and Tor Erickson" />
    <h2>From Robert and Tor, thank you.</h2>
    <!-- Sticky footer method by ryanfait.com -->
    <div class="push"></div>
</div>

<main role="main">
    <h1 class="adelle ew-logo">Erickson Woodworking</h1>

    <% 
        referrals_count = @user.referrals.count + 1

        stops = User::REFERRAL_STEPS

        found = nil

        stops.reverse_each { |stop|
            if stop["count"] <= referrals_count and !found
                stop["selected"] = true
                found = stop
            else
                stop["selected"] = false
            end
        }   
     %>
    <div class="referral-count">
        <h3 class="count"><%= referrals_count %></h3>
        <p>Your total entries (you plus your referrals)</p>
        <hr />
        <p>Average number of entries per visitor</p>
        <h3 class="count"><%= get_referral_avg %></h3>
    </div>
    
    <section class="description-wrap">
        <p class="description">
            <span style="display:block; margin-bottom:1em; font-size:1.4em; font-weight:bold;">Now spread the word.</span>
            <span style="display:block; margin-bottom:1em;" class="desc-left">For each friend you refer, the greater your chance of winning the chair. Share your unique link via email or your favorite social media site, and be entered in the drawing again for every referral you generate.</span>
            <span style="display:block; font-size:.9em;">Copy this link to paste it into an email:</span>
            <input class="copy-link" value="<%= root_url %>?ref=<%= @user.referral_code %>" type="text" />
            <% twitter_message = "Soon I could be sitting in The Atlantic Monthly’s \"nexus of art and ergonomics\" thanks to @ericksonww:" %>
            <span style="margin-top:1em; display:block; font-size:.9em;">Use these buttons to share the link on Facebook, Twitter, or Pinterest:</span>
            <span class="social-links" style="display:block;">
                <a href="http://www.facebook.com/sharer/sharer.php?u=http://ericksonwoodworking.com/?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
                <span class="sep"></span>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ericksonwoodworking.com/?ref=<%= CGI::escape(@user.referral_code) %>" data-text="<%= twitter_message %>" data-size="large" data-count="none">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <span class="sep"></span>
                <span class="pinterest"><a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28">
                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" />
                </a></span>
            </span>
        </p>
    </section>

    <div class="chair-photos">
        <img src="/assets/refer/syuba.jpg" alt="South Yuba chair by Erickson Woodworking - front view @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubadetail1.jpg" alt="South Yuba chair by Erickson Woodworking - detail shot @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubaside.jpg" alt="South Yuba chair by Erickson Woodworking - side view @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubadetail2.jpg" alt="South Yuba chair by Erickson Woodworking - another detail shot @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubarocker.jpg" alt="South Yuba chair by Erickson Woodworking - rocker model @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
    </div>
</main>