<div class="hero">
    <img class="bg-alt-cover" src="assets/refer/robert-and-tor-erickson.jpg" alt="Robert and Tor Erickson" />
    <h2>From Robert and Tor, thank you.</h2>
    <!-- Sticky footer method by ryanfait.com -->
    <div class="push"></div>
</div>

<main role="main">
    <h1 class="adelle ew-logo">Erickson Woodworking</h1>

    <% 
        referrals_count = @user.referrals.count + 1

        stops = User::REFERRAL_STEPS

        found = nil

        stops.reverse_each { |stop|
            if stop["count"] <= referrals_count and !found
                stop["selected"] = true
                found = stop
            else
                stop["selected"] = false
            end
        }   
     %>
    <div class="referral-count">
        <h3 class="count"><%= referrals_count %></h3>
        <p>Your total entries (you plus your referrals)</p>
        <hr />
        <p>Average number of entries per visitor</p>
        <h3 class="count"><%= get_referral_avg %></h3>
    </div>
    
    <section class="description-wrap">
        <p class="description">
            <span style="display:block; margin-bottom:1em; font-size:1.4em; font-weight:bold;">Now increase your chances of winning the chair by sharing the word on Facebook.</span>
            <span style="display:block; margin-bottom:1em;" class="desc-left">Share your unique link via Facebook or email and be entered in the drawing again for every referral you generate.</span>
            <span class="social-links" style="display:block;">
                <a href="http://www.facebook.com/sharer/sharer.php?u=http://ericksonwoodworking.com/?ref=<%= CGI::escape(@user.referral_code) %>" class="fb" target="_blank"></a>
            </span>
            <span style="display:block; font-size:.9em;">Or copy this link and share it by email:</span>
            <input class="copy-link" value="<%= root_url %>?ref=<%= @user.referral_code %>" type="text" />
        </p>
    </section>

    <div class="chair-photos">
        <img src="/assets/refer/syuba.jpg" alt="South Yuba chair by Erickson Woodworking - front view @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubadetail1.jpg" alt="South Yuba chair by Erickson Woodworking - detail shot @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubaside.jpg" alt="South Yuba chair by Erickson Woodworking - side view @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubadetail2.jpg" alt="South Yuba chair by Erickson Woodworking - another detail shot @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
        <img src="/assets/refer/syubarocker.jpg" alt="South Yuba chair by Erickson Woodworking - rocker model @erickson_ww #chairsthatfit #customfurniture http://ericksonwoodworking.com/?ref=<%= @user.referral_code %>" />
    </div>
</main>