<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
  <head>
    <title>Erickson Woodworking - New site launches on September 12, 2014.</title>
    <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1">
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <!-- Please call pinit.js only once per page -->
    <script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script>
    <meta property="og:title" content="Smithsonian Museum featured craftsmen are giving away a chair to celebrate new partnership."/>
    <meta property="og:description" content='To mark their new father-son partnership, Robert and Tor Erickson will be giving away the chair that The Atlantic Monthly called "The highest nexus of art and ergonomics."'/>
    <meta property="og:image" content="<%= root_url %><%= asset_path("refer/tor-erickson-working.jpg") %>"/>
    <meta property="og:url" content="<%= root_url %>"/>
    <% if @is_mobile %>
      <% if @bodyId == 'home' %>
        <meta name="viewport" content="width=1600" />
      <% else %>
        <meta name="viewport" content="width=1120" />
      <% end %>
    <% end %>
    <%= stylesheet_link_tag "core.css", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <div id="dialog" title="Erickson Woodworking! Message">
    <p><%= flash[:notice] %></p>
  </div>
  <body id="<%= @bodyId %>">

    <%= yield %>


  </body>

</html>
<script>
<% if flash[:notice] %>
    $( document ).ready(function() {
    $( "#dialog" ).dialog();
    });
<% else %>
    $( "#dialog" ).hide();
<% end %>
  
</script>